[run]
source =
        src

omit =
        /usr/*
        /tmp/*
        .tox/*
        *.pyenv*
        *venv*
        setup.py

[report]
exclude_lines =
        pragma: no cover
        pragma: loop bug
        if __name__ == .__main__.:

